/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1%;
	margin-bottom: 30%;
	margin: 0 auto;
	padding: 0;

}

/* Your code starts here! */
.navigation {
	display: flex
	color: yellow;
	margin: 15% 10%;
	border: 1% solid lightgray;
	padding: 10%;
	display: inline-block;
	border-radius: 10%;
	color: gold;
	margin-bottom: 20%;
	background-color: gray;
	width: 50%;

}
h1 {
	display: inline-block;
	font-size: 60%;
	margin: 30%;
}
.top-content {
	margin: 0 10%;
	border: 1% solid gold;
	padding:10%;
	display: inline-block;
	border-radius: 10%;
	color: gold;
	margin-bottom: 20%;
	background-color: black;
	width:50%;
	margin:0 auto;
	padding: 1% 0;
}
.middle-content {
	margin: 0 10%;
	border: 1% solid gold;
	padding:10%;
	display: inline-block;
	border-radius: 10%;
	margin-bottom: 20%;
	color: gold;
	background-color: black;
	width: 50%;
}

.bottom-content {
	margin: 0 10%;
	border: 1% solid gold;
	padding: 10%;
	display: inline-block;
	border-radius: 10%;
	margin-bottom: 20%;
	color: gold;
	background-color: black;
	width:50%;

}	
button {
	border: 1% solid gray;
}

}
a:hover {
color: black;
}
header {
margin: 30%;
}
.product-content {
	margin: 0 1%;
	border: 1% solid gold;
	padding: 10%;
	display: inline-block;
	border-radius: 10%;
	margin-bottom: 20%;
	color: gold;
	background-color: black;
	width:20%;
	padding: 1% 0;

}
.vision-content {
	margin: 0 1%;
	border: 1% solid gold;
	padding: 10%;
	display: inline-block;
	border-radius: 10%;
	margin-bottom: 20%;
	color: gold;
	background-color: black;
	width:50%;
}
.contact {
	text-align: center;
	color:black;
}
a {
	margin:20%;
	text-decoration: none;
	color: gold;
}
footer .copyright {
	padding: 20% 0;
	text-align: center;
}
